.catalog-promo {
  background: $brown url("../img/content/catalog-page/promo-catalog_dktp.png") 50% 0/100% 100% no-repeat;

  @media (max-width: $tablet-max-width) {
    background: $brown url("../img/content/catalog-page/promo-catalog_tab.png") 50% 0/100% 100% no-repeat;
  }

  @media (max-width: $mobile-max-width) {
    background: $brown url("../img/content/catalog-page/promo-catalog_mob.png") 50% 0/100% 100% no-repeat;
  }

  &__wrapper {
    max-width: 490px;
    margin: 0 auto;
    padding: 90px 0 94px 0;
    text-align: center;

    @media (max-width: $tablet-max-width) {
      padding: 92px 0 94px 0;
    }

    @media (max-width: $mobile-max-width) {
      max-width: 247px;
      padding: 79px 0 84px 0;
    }
  }

  & h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;

    @include font-parametrs(600, 34px, 44px);
    color: $white;
    margin: 0 0 2px 0;
  }

  & p {
    font-family: "Cormorant Garamond", "Times New Roman", serif;

    @include font-parametrs(500, 22px, 29px);
    font-style: italic;
    color: $white;
    margin: 0 -3px 0 0;

    @media (max-width: $tablet-max-width) {
      margin: 0 0 0 0;
    }

    @media (max-width: $mobile-max-width) {
      line-height: 26px;
    }
  }
}
