.contacts {
  display: flex;
  flex-wrap: wrap;

  &__sign-up {
    // flex: 1 0 50.25%;
    flex: 1 0 42.735%;
    margin: 0 88px 20px 0;

    & h2 {
      font-family: "Cormorant Garamond", "Times New Roman", serif;
      @include font-parametrs(600, 34px, 44px);
      color: $white;
      letter-spacing: 0.03em;
      margin: 0 0 10px 0;
    }

    & p {
      @include font-parametrs(400, 16px, 21px);
      color: $grey;
      margin: 0 0 52px 0;
    }

    & label {
      display: flex;
      border-bottom: 1px solid $white;
      padding: 0 0 10px 0;

      & a {
        display: flex;
        align-items: center;
        margin-left: auto;
        color: $white;

        & span {
          // height: 21px;
          margin: 0 12px 0 0;
        }

        // & svg {
        //   margin: 0 0 0 12px;
        // }
      }
    }

    & input {
      background-color: inherit;
      font-size: 16px;
      border: 0;
      color: $grey;

      &:active,
      &:focus {
        border: 0;
      }
    }

    & svg {
      stroke: $white;
    }

    @media (max-width: $tablet-max-width) {
      flex: 1 0 100%;
      margin: 0 0 47px 0;

      & p {
        margin: 0 0 45px 0;
      }

    }

    @media (max-width: $mobile-max-width) {
      & label {
        & a {
          & span {
            margin: 0 0 0 0;
          }
        }
      }
    }
  }

  &__purchase {

    // flex: 1 0 20.85%;
    flex: 1 0 15.128%;
    // flex: 1 0 13.846%;
    // padding: 0 15px 0 0;
    margin: 0 67px 0 0;

    & ul {
      @include list-reset();
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      & li {
        margin: 0 0 20px 0;
      }

      & li:last-child {
        margin: 0 0 0 0;
      }

      & a {
        color: $white;
      }
    }

    @media (max-width: $tablet-max-width) {
      flex: 1 0 29.319%;
      margin: 0 85px 20px 0;
    }

    @media (max-width: $mobile-max-width) {
      flex: 1 0 100%;
      margin: 0 0 50px 0;
    }
  }

  &__about {

    // flex: 1 0 19.06%;
    flex: 1 0 11.624%;
    // flex: 1 0 12.820%;
    // padding: 0 15px 0 0;
    margin: 0 87px 0 0;

    & ul {
      @include list-reset();
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      & li {
        margin: 0 0 20px 0;
      }

      & li:last-child {
        margin: 0 0 0 0;
      }

      & a {
        color: $white;
      }
    }

    @media (max-width: $tablet-max-width) {
      flex: 1 0 20.244%;
      margin: 0 85px 0 0;
    }

    @media (max-width: $mobile-max-width) {
      flex: 1 0 100%;
      margin: 0 0 50px 0;
    }
  }

  &__contacts {
    // flex: 0 0 9.83%;
    min-width: 115px;
    // margin: 0 0 0 auto;

    & ul {
      @include list-reset();
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      & li {
        margin: 0 0 20px 0;
        width: inherit;

        & svg {
          fill: $white;
          margin: 0 15px 0 0;
        }
      }

      & li:first-child {
        & svg {
          margin: 0 15px 0 4px;
        }
      }

      & li:last-child {
        margin: 0 0 0 0;
      }

      & a {
        & span {
          color: $white;
        }
      }
    }

    @media (max-width: $mobile-max-width) {
      & ul {
        display: flex;
        flex-wrap: wrap;

        & li {
          margin: 0 30px 0 0;
        }

        & a {
          & span {
            display: none;
          }
        }

        & li:first-child {
          & svg {
            width: 12px;
            height: 21px;
          }
        }

        & li:first-child+li,
        li:nth-child(3n) {
          & svg {
            width: 20px;
            height: 21px;
          }
        }
      }

      & li:last-child {
        margin: 0 0 0 0;

        & svg {
          width: 20px;
          height: 18px;
        }
      }
    }
  }
}
