.filter {
  display: flex;
  flex-direction: column;

  & > a {
    display: none;
  }

  &__wrapper {
    border: 1px solid $brown;
    margin: 0 0 36px 0;
  }


  &__filter {
    // padding: 23px 23px 14px 25px;

    & ul {
      @include list-reset();
      display: none;

      & li {

        margin: 0 0 10px 0;
      }

      & label {
        position: relative;
        display: inline-flex;
        align-items: center;

        @include font-parametrs(500, 14px, 18px);
        padding: 0 0 0 35px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      & input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      & input:checked {
        opacity: 0;
      }

      & input + label::before {
        position: absolute;
        content: "";
        top: 1px;
        left: 9px;
        width: 15px;
        height: 15px;
        border: 1px solid $brown;
      }

      & input:focus + label::before {
        border: 1px solid red;
      }

      & input:checked + label::after {
        position: absolute;
        content: "";
        top: 1px;
        left: 9px;
        width: 15px;
        height: 15px;
        background-color: $brown;
      }

      & input:checked:hover + label::after {
        box-shadow: 0 0 16px $brown;
      }

      & input:checked:focus + label::after {
        box-shadow: 0 0 16px red;
      }
    }

    &.active {
      & ul {
        display: block;
        margin: 7px 0 25px 24px;
      }

      & .controls {
        display: block;
      }

      & .filter__tumbler {
        & svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__tumbler {
    & a {
      display: flex;
      justify-content: space-between;
      color: $dark;
      padding: 23px 23px 14px 25px;

      &:hover {
        opacity: 0.7;
      }

      & svg {
        stroke: $brown;
        margin: 5px 0 0 0;
      }
    }
  }

  &__product {
    border-bottom: 1px solid $brown;
  }

  &__material {
    border-bottom: 1px solid $brown;

    & .filter__tumbler {
      & a {
        padding: 23px 23px 22px 25px;
      }
    }
  }

  &__collection {
    border-bottom: 1px solid $brown;

    & .filter__tumbler {
      & a {
        padding: 23px 23px 22px 25px;
      }
    }
  }

  &__price {
    & .filter__tumbler {
      & a {
        padding: 23px 23px 26px 25px;
      }
    }
  }
}
