.nav {
  &__main {
    display: flex;
    justify-content: center;

    @media (max-width: $tablet-max-width) {
      display: none;
    }

    & ul {
      @include font-parametrs(500, 16px, 24px);
      @include list-reset();
      display: flex;
      flex-wrap: wrap;

      & li {
        margin: 0 35px 0 0;

        & a {
          color: $dark;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      & li:last-child {
        margin: 0 -8px 0 0;
      }

      @media (max-width: $tablet-max-width) {
        flex-direction: column;
      }
    }
  }

  &__nav {
    display: none;

    & ul {
      @include list-reset();

      & a:hover {
        opacity: 0.7;
      }
    }
  }

  &__login {
    display: none;

    & a:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .nav.active,
  .nav.no-js {
    padding: 0 45px 55px;

    & .nav__main {
      display: block;

      & ul {
        @include font-parametrs(500, 24px, 36px);

        & li {
          margin: 0 0 21px 0;
        }

        & a {
          color: $white;
        }
      }
    }

    & .nav__nav {
      display: block;
      padding: 19px 0 25px 0;

      & ul {
        @include font-parametrs(500, 18px, 23px);

        & li {
          margin: 0 0 20px 0;
        }

        & a {
          color: rgba(255, 255, 255, 0.75);
        }
      }
    }

    & .nav__login {
      display: block;

      & a {
        @include font-parametrs(500, 18px, 23px);
        color: $white;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .nav.active,
  .nav.no-js {
    padding: 0 15px 24px;


    & .nav__nav {
      padding: 9px 0 16px 0;
    }
  }
}
