.page-footer {
  flex: 0 0 auto;
  background-color: $black;

  &__wrapper {
    padding: 100px 98px 95px 98px;

    @media (max-width: $tablet-max-width) {
      padding: 47px 150px 60px 45px;
    }

    @media (max-width: $mobile-max-width) {
      padding: 47px 15px 60px 15px;
    }
  }
}
