.swiper {
  width: 100%;

  @media (max-width: $tablet-max-width) {
    // min-height: 608px;
  }

  @media (max-width: $mobile-max-width) {
    // min-height: 400px;
  }
}

.gallery__wrapper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  top: 21%;

  & svg {
    stroke: $brown;
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 14.5%;
}


.swiper-slide {
  margin: 0 0 25px 0;

  & a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;

    & h3 {
      @include font-parametrs(500, 16px, 21px);
      margin: 19px 0 7px 0;
    }

    & p {
      @include font-parametrs(600, 14px, 18px);
      margin: 0 0 5px 0;
    }

    & picture {
      display: flex;
    }

    & img {
      width: 100%;
      height: 100%;

      @media (max-width: $tablet-max-width) {
        width: 324px;
        height: 340px;
      }

      @media (max-width: $mobile-max-width) {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 320px) {
        width: 130px;
        height: 136px;
      }
    }
  }
}


@media (max-width: $tablet-max-width) {
  .swiper-slide {
    & a {
      & h3 {
        margin: 22px 0 7px 0;
      }
    }

    &:nth-child(50n+3) {
      & a {
        & h3 {
          margin: 22px -14px 7px 0;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 16.3%;

    svg {
      width: 40px;
      height: 20px;
    }
  }

  .swiper-pagination {
    bottom: 9%;
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }
}

@media (max-width: $mobile-max-width) {
  .swiper-slide {
    & a {
      & h3 {
        text-align: center;
        margin: 16px 0 7px 0;
      }
    }

    &:nth-child(50n+3) {
      & a {
        & h3 {
          margin: 16px 0 7px 0;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    bottom: 7%;
  }
}
