// Mixins

@mixin font-parametrs($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin rgba($color, $opacity) {
  color: rgba($color, $opacity);
}

@mixin list-reset() {
  padding: 0;
  margin: 0;
  list-style: none;
}
